<section>
  <header>
    <h1>Habilidades</h1>
  </header>
  <div class="charts">
      <div class="chart" *ngFor="let chart of chartOptionsArray; let index = index" >

          <mat-card >
            <apx-chart *delay=500*index
            [series]="chart.series"
            [chart]="chart.chart"
            [xaxis]="chart.xaxis"
            [title]="chart.title"
            [yaxis]="chart.yaxis"
            [fill]="chart.fill"
            [stroke]="chart.stroke"
            [markers]="chart.markers"
            [noData]="chart.noData"
            > 
            </apx-chart>
          </mat-card>
        
    </div>
  </div>
</section>