
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 650px;
  &__content {
    margin: 10px;
    color: #54bab9;
    width:100%;
    max-width: 1024px;

    &__table{
      display: flex;
      width:100%;
      table{
        width:100%;
      }
      mat-icon {
        color: #009688;
      }
      span {
        font-weight: 500;
        color: #009688;
      }
      .actions {
        display: flex;
        justify-content: right;
      }

    }

    &__no-table{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      font-size: 1.5rem;
      font-weight: 200;
    }

  }


}

.curriculum-link{
  margin: 20px 0;
  display:flex;
  width: 100%;
  justify-content: right;
  padding-right: 10px;
  &__item {
    cursor: pointer;
    width: 150px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
}


.mat-dialog-actions{
  display: inline;
}

.input-large{
  flex: 1;
}

.input-small{
  flex: 0;
}





@media all and (min-width: 0px) and (max-width: 600px) {
  .container {
    &__content{
      &__form {
        display: block;
        width: 95%;

        &__row {
          display: block;
        }

        &__col {
          padding: 0;
        }
      }
    }
  }

}
