<div class="container">
  <div class="container__content">
    <div class="container__content__logo-container">
        <a routerLink=""
          ><img
            class="container__content__logo-container__logo"
            src="../../../assets/logo.png"
            (click)="onLogoClick()"
        /></a>

    </div>
    <nav class="container__content__menu" *ngIf="!isLogged">
      <a routerLink="login" class="container__content__menu__menu-item" *ngIf="!loginButtonHidden"
        ><i class="fas fa-sign-in-alt"></i></a
      >
      <a routerLink="usuario/signup" class="container__content__menu__menu-item"  *ngIf="!signUpButtonHidden"
        ><i class="fas fa-user-plus"></i></a
      >

    </nav>
    <nav class="container__content__menu" *ngIf="isLogged ">
      <a *ngIf="isAdmin" routerLink="admin" class="container__content__menu__menu-item"
      ><i class="fas fa-lock"></i></a
    >
      <a routerLink="private" class="container__content__menu__menu-item"
        ><i class="fas fa-user"></i></a
      >
      <a routerLink="" (click)="onLogoutClick()" class="container__content__menu__menu-item"
        ><i class="fas fa-sign-out-alt"></i></a
      >
    </nav>
  </div>
</div>
