.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  color: #fbf8f1;
  background-color: #54bab9;
  filter: drop-shadow(0 0 5px #3f9796);
  z-index: 999;
}

.content {
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logo-container {
  display: flex;
  flex: 1;
  margin-left: 5px;
}

.logo-container {
  display: flex;
}
.logo {
  width: 110px;
}

.menu {
  color: #fbf8f1;
  display: flex;
  font-size: 1rem;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.menu-icon {
  font-size: 1.3rem;
  margin-right: 5px;
}

@media ALL and (max-width: 400px) {
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
  }
}
