.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  align-items: stretch;

  &__card {
    display: grid;
    height: 100%;
    grid-row-end: auto;
    margin-bottom: 1em;

    &__title {
      font-family: roboto;
      font-size: 1.4em;
      font-weight: 400;
      color: white;
      padding: 0.5em;
      border-radius: 5px;
    }

    &__subtitle {
      font-family: roboto;
      font-size: 0.9em;
      font-weight: 300;
    }

    &__education-center {
      font-family: roboto;
      font-size: 1.2em;
      font-weight: 400;
      margin-bottom: 5px;
      content: "» ";
    }

    &__desc {
      font-family: roboto;
      font-size: 1em;
      font-weight: 300;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  &__card:first-child:nth-child(odd) {
    grid-column: span 2;
  }

  &__card:last-child:nth-child(even) {
    grid-column: span 2;
  }

  &__card-2-items {
    display: grid;
    grid-column: 50%, 50%;
    height: 100%;
    grid-row-end: auto;
    margin-bottom: 1em;
  }

}

.no-courses{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 1.2rem;
  font-size: 1.3rem;
  font-weight: 200;
}

.no-data{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 200;
  background-image: url(../../../assets/no-data-image.png);
  background-size: auto 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  width:100%;
  height: 300px;
  &__text{
    padding:10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
  }
}

//FORMATEO DEL COLOR DE LAS TAB PARA EVITAR EL COLOR OFICIAL DE LA PÁGINA
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: black !important;
}

@media ALL and (min-width: 0px) and (max-width: 700px) {
  .cards {
    display: block;
    width: 100%;
  }
}
