<section>
    <header>
      <h1>Formación</h1>
    </header>
    <div class="cards">
        <div class="card" *ngFor="let educ of education">
            <mat-card >
                <mat-card-title>
                    {{educ.titulo}}
                </mat-card-title>
                <mat-card-subtitle>
                    Desde: {{educ.fechaComienzo}} <span *ngIf="educ.fechaFinalizacion !==  ''">| Hasta: {{educ.fechaFinalizacion}} </span>
                </mat-card-subtitle>
                <mat-card-content class='education-center'>
                    Centro formativo: {{educ.centro}}
                </mat-card-content>
                <mat-card-content class='desc'>
                    {{educ.descripcion}}
                </mat-card-content>
            </mat-card>
      </div>
    </div>
  </section>
