<div>
  <header
    class="{{ data.header === 'error' ? 'header-error' : 'header-info' }}"
  >
    <h1>
      {{
        data.type === "error"
          ? "Aviso"
          : userConfirmed
          ? "¡Usuario confirmado!"
          : data.type === "activationCode"
          ? "Ya casi estás"
          : ""
      }}
    </h1>
  </header>
  <div class="content" *ngIf="data.type === 'error'">
    <div class="content__text">
      {{ data.msg }}
    </div>
    <div class="content__button">
      <button mat-raised-button color="warn" mat-dialog-close>Cerrar</button>
    </div>
  </div>

  <div class="content" *ngIf="data.type === 'ok'">
    <div class="content__text">
      {{ data.msg }}
    </div>
    <div class="content__button">
      <button mat-raised-button color="primary" mat-dialog-close>Ok</button>
    </div>
  </div>

  <!--CODIGO DE ACTIVACIÓN -->
  <div class="content" *ngIf="data.type === 'activationCode'">
    <div class="content__text" [ngClass]="{ inputHide: userConfirmed }">
      {{ data.msg }}
    </div>

    <div class="content__input">
      <mat-form-field
        [ngClass]="{ inputHide: userConfirmed }"
        (input)="onInputActivate($event)"
      >
        <mat-label>Inserta tu códido de activiación</mat-label>
        <input matInput placeholder="Inserta tu códido de activiación" />
      </mat-form-field>
    </div>
    <div class="content__text">
      {{ activationDoneMsg }}
    </div>
    <div class="spinner" *ngIf="spinnerOn"></div>
    <div class="content__button">
      <button mat-raised-button color="warn" mat-dialog-close>
        {{ userConfirmed ? "Cerrar" : "Activar más adelante" }}
      </button>
    </div>
  </div>

  <!--PASSWORD DE CURRICULUM -->
  <div class="content" *ngIf="data.type === 'passwordCurriculum'">
    <div class="content__text">
      {{ data.msg }}
    </div>

    <div class="content__input">
      <mat-form-field>
        <input #passwordCurriculum matInput placeholder="Password" />
      </mat-form-field>
    </div>

    <div class="spinner" *ngIf="spinnerOn"></div>
    <div>
      <generic-button
        [width]="'200px'"
        [mainColor]="gamaColores.mainColor"
        [darkColor]="gamaColores.darkColor"
        [textButton]="'Enviar'"
        (click)="onCurriculumPasswordClick()"
      ></generic-button>
    </div>
    <div class=mt-10>{{ msgPasswordCurriculumWrong }}</div>
  </div>
</div>
