.header-error{
  color: red;
}

.header-info{
  color: #54BAB9
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__text {
    font-size: 1.2rem;
    text-align: center;
  }
  &__input{
    padding: 1rem;
    width: 200px;
    mat-form-field {
      width: 100%;
    }
  }
  &__button{
    margin:1rem;
  }

}

button {
  margin: 0.5rem;
}

.inputHide {
  display: none;
}



/* FORMATEO DEL COLOR DEL FORMULARIO PARA EVITAR QUE TENGA EL COLOR GENÉRICO DE LA WEB*/

:host ::ng-deep .mat-form-field-label {
  color: BLACK !important;
}

:host ::ng-deep .mat-form-field-underline {
  background-color: black !important;
}
:host ::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
background-color: black !important;
}
:host ::ng-deep input {
color: black !important;
}
:host ::ng-deep input {
color: black !important;
}


@media all and (min-width: 0px) and (max-width: 660px) {

}
