<section>
    <header>
      <h1>Experiencia</h1>
    </header>
    <div class="cards">
        <div class="card" *ngFor="let exp of experience">
            <mat-card >
                <mat-card-title>
                    {{exp.companyName}}
                </mat-card-title>
                <mat-card-subtitle>
                    Desde: {{exp.dateStart}} <span *ngIf="exp.dateEnd !==  ''">| Hasta: {{exp.dateEnd}} </span>
                </mat-card-subtitle>
                <mat-card-content class='position'>
                    {{exp.position}} 
                </mat-card-content>
                <mat-card-content class='positionDesc'>
                    {{exp.positionDesc}} 
                </mat-card-content>
                <mat-card-content class='tasks'>
                    <span class="titleTasks">Tareas a desempeñar:</span>
                    <ul>
                        <li *ngFor="let task of exp.tasks">
                            {{task}}
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>
          
      </div>
    </div>
  </section>