<section>
    <header>
      <h1>Experiencia</h1>
    </header>
    <div class="cards">
        <div class="card" *ngFor="let exp of experience">
            <mat-card >
                <mat-card-title>
                    {{exp.empresa}}
                </mat-card-title>
                <mat-card-subtitle>
                    Desde: {{exp.fechaComienzo}} <span *ngIf="exp.fechaFinalizacion !==  ''">| Hasta: {{exp.fechaFinalizacion}} </span>
                </mat-card-subtitle>
                <mat-card-content class='position'>
                    {{exp.cargo}}
                </mat-card-content>
                <mat-card-content class='positionDesc'>
                    {{exp.descripcion}}
                </mat-card-content>
                <mat-card-content class='tasks'>
                    <span class="titleTasks">Tareas a desempeñar:</span>
                    <ul>
                        <li *ngFor="let tarea of exp.tareas">
                            {{tarea}}
                        </li>
                    </ul>
                </mat-card-content>
            </mat-card>

      </div>
    </div>
  </section>
