
  <section>
  <header>
    <h1>Experiencia</h1>
  </header>
  <div class="cards">
    <div [ngClass]="experiences.length===2 ? 'cards__card-2-items' : 'cards__card' " *ngFor="let exp of experiences">
      <mat-card>
        <div class="cards__card__logo" *ngIf="exp.logo !== ''">
          <img
            class="cards__card__logo__pic"
            [src]="apiUrl + exp.logo"
          />
        </div>

        <mat-card-title class="cards__card__title" [ngStyle]="{'background-color': gamaColores.mainColor }" >
          <div class="cards__card__title__text">
            {{ exp.empresa }}
          </div>

        </mat-card-title>
        <mat-card-subtitle class="cards__card__subtitle">
          Desde: {{ exp.fechaComienzo | date: 'dd/MM/yyyy' }}
          <span *ngIf="exp.fechaFinalizacion"
            >| Hasta: {{ exp.fechaFinalizacion | date: 'dd/MM/yyyy' }}
          </span>
        </mat-card-subtitle>
        <mat-card-content class="cards__card__position">
          {{ exp.cargo }}
        </mat-card-content>
        <mat-card-content class="cards__card__positionDesc" *ngIf="exp.descripcion != ''">
          {{ exp.descripcion }}
        </mat-card-content>
        <mat-card-content class="cards__card__tasks" *ngIf="exp.tareas != ''">
          <span class="cards__card__tasks__titleTasks"
            >Tareas a desempeñar:</span
          >
          <span class="cards__card__tasks__list">
            {{ exp.tareas }}
          </span>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="no-data" *ngIf="chargeCompleted && experiences.length==0">
    <div class="no-data__text">No tengo experiencia, pero busco una oportunidad laboral.</div>
  </div>
</section>

