<div class="container">
  <div class="container__content">
    <div class="container__content__title">
      Crea tu propio currículum digital y compártelo con el mundo...
    </div>
    <div class="container__content__description">
      Despídete de la manera tradicional de buscar empleo. Genera tu currículum
      online de una manera fácil y rápida y entrega una página web pública o privada como carta de
      presentación.
    </div>
  </div>
</div>
<div class="footer-container">
  <div class="footer">
    <div class="d1"></div>
    <div class="d2"></div>
    <div class="d3"></div>
    <div class="d4"></div>
  </div>

</div>
