<section>
  <header>
    <h1>Acerca De</h1>
  </header>
  <div class="cards">
    <div class="cards__card">
      <mat-card>
        <mat-card-title class="cards__card__title" [ngStyle]="{'background-color': gamaColores.mainColor }">
          <mat-icon>perm_identity</mat-icon>Acerca de mi
        </mat-card-title>
        <mat-card-content class="cards__card__content">
          {{ acercaDe }}
        </mat-card-content>
      </mat-card>
    </div>
    <div class="cards__card">
      <mat-card>
        <mat-card-title class="cards__card__title" [ngStyle]="{'background-color': gamaColores.mainColor }"> Idiomas </mat-card-title>
        <mat-card-content class="cards__card__content">
          <ul class="cards__card__content__list">
            <li *ngFor="let language of languages">{{ language.idioma }}, nivel: {{ language.nivel }}</li>
          </ul>
        </mat-card-content>
        <mat-card-content class="cards__card__content"> </mat-card-content>
      </mat-card>
    </div>
    <div class="cards__card">
      <mat-card>
        <mat-card-title class="cards__card__title" [ngStyle]="{'background-color': gamaColores.mainColor }"> Datos de interés </mat-card-title>
        <mat-card-content class="cards__card__content">
          <ul class="cards__card__content__list">
            <li *ngFor="let interesting of interestingData">{{ interesting.descripcion }}</li>
          </ul>
        </mat-card-content>
        <mat-card-content class="cards__card__tasks"> </mat-card-content>
      </mat-card>
    </div>
    <div class="cards__card">
      <mat-card>
        <mat-card-title class="cards__card__title" [ngStyle]="{'background-color': gamaColores.mainColor }"> Habilidades de interés </mat-card-title>
        <mat-card-content class="cards__card__content">
          <ul class="cards__card__content__list">
            <li *ngFor="let skill of skills">{{ skill.nombre }}</li>
          </ul>
        </mat-card-content>
        <mat-card-content class="cards__card__tasks"> </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
