<div class="container">
  <div class="container__content">
    <header>
      <h1>Registro</h1>
    </header>
    <form [formGroup]="formUserGroup" (ngSubmit)="onSubmit()">

      <!-- CAMPOS NOMBRE Y APELLIDOS -->
      <div class="container__content__form">
        <div class="container__content__form__row">
          <div class="container__content__form__row__col input-small">
            <mat-form-field appearance="fill">
              <mat-label>*Nombre</mat-label>
              <input matInput placeholder="nombre" formControlName="nombre" />
              <mat-error
                *ngIf="formUserGroup.controls['nombre'].hasError('required')"
                >Campo obligatorio.</mat-error
              >
              <mat-error
                *ngIf="formUserGroup.controls['nombre'].hasError('maxlength')"
                >Máximo: {{lengthForm.nombre}} caracteres </mat-error
              >
            </mat-form-field>
          </div>
          <div class="container__content__form__row__col input-large">
            <mat-form-field appearance="fill">
              <mat-label>*Apellidos</mat-label>
              <input matInput placeholder="Apellidos" formControlName="apellidos" />
              <mat-error
                *ngIf="formUserGroup.controls['apellidos'].hasError('required')"
                >Campo obligatorio.</mat-error
              >
              <mat-error
                *ngIf="formUserGroup.controls['apellidos'].hasError('maxlength')"
                >Máximo: {{lengthForm.apellidos}} caracteres </mat-error
              >
            </mat-form-field>
          </div>

        </div>


        <!-- CAMPOS EMAIL Y CONTRASEÑA -->

        <h2>Datos de usuario</h2>
        <div class="container__content__form__row">
          <div class="container__content__form__row__col">
            <mat-form-field appearance="fill" (change)="onCheckableInputChange($event, 'email')">
              <mat-label>*E-Mail</mat-label>
              <input
                matInput
                placeholder="E-Mail"
                formControlName="email"
              />
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error
                *ngIf="formUserGroup.controls['email'].hasError('required')"
                >Campo obligatorio.</mat-error
              >
              <mat-error
                *ngIf="formUserGroup.controls['email'].hasError('email')"
                >E-Mail inválido.</mat-error
              >
            </mat-form-field>
          </div>
          <div class="container__content__form__row__col">
            <mat-form-field appearance="fill">
              <mat-label>*Contraseña</mat-label>
              <input
                matInput
                type="password"
                placeholder="Contraseña"
                formControlName="password"
              />
              <mat-error
                *ngIf="formUserGroup.controls['password'].hasError('required')"
                >Campo obligatorio.</mat-error
              >
            </mat-form-field>
          </div>
          <div class="container__content__form__row__col">
            <mat-form-field appearance="fill" >
              <mat-label>Repetir contraseña</mat-label>
              <input
                matInput
                type="password"
                placeholder="Contraseña"
                [repeatpassword]="formUserGroup.controls['password'].value"
                formControlName="repeatPassword"
              />
              <mat-error
                *ngIf="formUserGroup.controls['repeatPassword'].hasError('required')"
                >Campo obligatorio.</mat-error
              >
              <mat-error
              *ngIf="formUserGroup.controls['repeatPassword'].hasError('wrongRepeatPassword')"
              >Las contraseñas no coinciden.</mat-error
            >
            </mat-form-field>
          </div>
        </div>
        <div class="container__content__form__actions">
          <div>
            <mat-dialog-actions class="container__content__form__actions__button">
              <button
                mat-raised-button
                color="primary"
                [disabled]="formUserGroup.invalid || spinnerOn"
              >
                Continuar
              </button>
            </mat-dialog-actions>
          </div>
          <div>
            <mat-dialog-actions
              class="container__content__form__actions__button"
            >
              <button type="button"
                mat-raised-button
                color="primary"
                (click)="resetForm()"
              >
                Resetear
              </button>
            </mat-dialog-actions>
          </div>

          <div class='spinner' *ngIf="spinnerOn"></div>
          <span> {{ errorMsg }}</span>
        </div>

      </div>
    </form>
  </div>
</div>
