<div class="private" *ngIf="curriculum && curriculum.esPrivado && !passwordOk">

  <generic-button [mainColor]="gamaColores.mainColor" [darkColor]="gamaColores.darkColor" [textButton]="'Ingresar Contraseña'" (click)="openPrivateModalPassword()" ></generic-button>

</div>
  <ng-container *ngIf="curriculum && user">
    <curriculum-header
      [user]="user"
      [curriculum]="curriculum"
    ></curriculum-header>
    <div class="container-right">
      <div class="ghost-space"></div>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <div class="footer">
      <span class="footer__item mt-20">Este fue mi proyecto final de Xerach Casanova Cabrera.</span>
      <span class="footer__item mt-10 mb-20">Desarrollo de Aplicaciones Web</span>
    <span class="footer__item mt-10"><img width="150" height="auto" src="../../../assets/logo-ilerna.png"></span>
    </div>-->
  </ng-container>

