<div class="container">
  <div class="container__content">
    <header>
      <h1>Habilidades</h1>
    </header>
    <div class="curriculum-link">
      <div class="curriculum-link__item" (click)="goToCurriculum()">
        <mat-icon class="mr-10">remove_red_eye</mat-icon>Ver currículum
      </div>
    </div>

    <mat-tab-group>
      <mat-tab label="H. Personales">
        <div class="mt-10">
          <p>
            Las habilidades personales se mostrarán en la franja principal de tu
            currículum, junto a los idiomas, datos de interés y la sección
            "Acerca de". Hacen referencia a tus capacidades personales, tales
            como: "trabajo en grupo", "don de gentes", etc.
          </p>

          <!-- FORMULARIO DE HABILIDADES -->
          <form
            [formGroup]="formPersonalSkillsGroup"
            (ngSubmit)="onSubmitPersonalSkill()"
            *ngIf="personalSkillToAdd"
          >
            <div class="container__content__form">
              <div class="container__content__form__row">
                <div class="container__content__form__row__col">
                  <mat-form-field appearance="fill">
                    <mat-label>Habilidad</mat-label>
                    <input
                      matInput
                      placeholder="Descripción de la habilidad"
                      formControlName="nombre"
                    />
                    <mat-error
                      *ngIf="
                        formPersonalSkillsGroup.controls['nombre'].hasError(
                          'required'
                        )
                      "
                      >Campo obligatorio.</mat-error
                    >
                    <mat-error
                      *ngIf="
                        formPersonalSkillsGroup.controls['nombre'].hasError(
                          'maxlength'
                        )
                      "
                      >Longitud máxima:
                      {{ lengthForm.skillNombre }} caracteres.</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="container__content__form__actions">
                  <div>
                    <mat-dialog-actions
                      class="container__content__form__actions__button"
                    >
                      <button
                        mat-raised-button
                        color="primary"
                        [disabled]="
                          formPersonalSkillsGroup.invalid || spinnerOn
                        "
                      >
                        Añadir
                      </button>
                    </mat-dialog-actions>
                  </div>
                  <div>
                    <mat-dialog-actions
                      class="container__content__form__actions__button"
                    >
                      <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        (click)="resetPersonalSkillForm()"
                      >
                        Resetear
                      </button>
                    </mat-dialog-actions>
                  </div>
                  <div class="spinner" *ngIf="spinnerOn"></div>
                </div>

                <span> {{ errorMsg }}</span>
              </div>
            </div>
          </form>

          <!-- TABLA DE HABILIDADES PERSONALES -->

          <div
            class="container__content__table mt-20"
            *ngIf="personalSkills.length > 0"
          >
            <table
              mat-table
              [dataSource]="personalSkills"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef>Habilidades</th>
                <td mat-cell *matCellDef="let personalSkill">
                  {{ personalSkill.nombre }}
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let personalSkill">
                  <mat-icon
                    class="link-pointer"
                    (click)="onDeleteSkillClick(personalSkill)"
                    >delete</mat-icon
                  >
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedSkillsColumns"></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: displayedSkillsColumns"
              ></tr>
            </table>
          </div>

          <div
            class="container__content__no-table"
            *ngIf="chargeSkillsCompleted && personalSkills.length === 0"
          >
            Aún no tienes ninguna habilidad personal asignada a tu currículum.
          </div>
        </div>
      </mat-tab>

      <!-- TAB CONOCIMIENTOS -->
      <mat-tab label="Conocimientos">
        <div class="mt-10">
          <p>
            Los conocimientos se muestran como grupo de habilidades relacionadas
            entre sí. Puedes hacer click en el ejemplo para ver las distintas
            apariencias que pueden adoptar.
          </p>
          <div class="container__content__example">
            <div
              class="container__content__example__button mt-10 mb-10"
              (click)="onShowExampleChartClick()"
            >
              <div class="container__content__example__button__text">
                <div>
                  {{ showExampleChart ? "Ocultar ejemplo" : "Mostrar Ejemplo" }}
                </div>
              </div>
            </div>
          </div>

          <skills-charts
            *ngIf="showExampleChart"
            [example]="true"
          ></skills-charts>
          <!-- FORMULARIO DE GRUPO DE CONOCIMIENTOS-->

          <h2>Añadir grupo de conocimientos</h2>
          <form
            [formGroup]="formKnowledgeGroupsGroup"
            (ngSubmit)="onSubmitKnowledgeGroup()"
            *ngIf="knowledgeGroupToAdd"
          >
            <div class="container__content__form">
              <div class="container__content__form__row">
                <div class="container__content__form__row__col">
                  <mat-form-field appearance="fill">
                    <mat-label>Grupo</mat-label>
                    <input
                      matInput
                      placeholder="Nombre del grupo"
                      formControlName="nombre"
                    />
                    <mat-error
                      *ngIf="
                        formKnowledgeGroupsGroup.controls['nombre'].hasError(
                          'required'
                        )
                      "
                      >Campo obligatorio.</mat-error
                    >
                    <mat-error
                      *ngIf="
                        formKnowledgeGroupsGroup.controls['nombre'].hasError(
                          'maxlength'
                        )
                      "
                      >Longitud máxima:
                      {{ lengthForm.skillNombre }} caracteres.</mat-error
                    >
                  </mat-form-field>
                </div>
                <div class="container__content__form__actions">
                  <div>
                    <mat-dialog-actions
                      class="container__content__form__actions__button"
                    >
                      <button
                        mat-raised-button
                        color="primary"
                        [disabled]="
                          formKnowledgeGroupsGroup.invalid || spinnerOn
                        "
                      >
                        Añadir
                      </button>
                    </mat-dialog-actions>
                  </div>
                  <div>
                    <mat-dialog-actions
                      class="container__content__form__actions__button"
                    >
                      <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        (click)="resetKnowledgeGroupForm()"
                      >
                        Resetear
                      </button>
                    </mat-dialog-actions>
                  </div>
                  <div class="spinner" *ngIf="spinnerOn"></div>
                </div>

                <span> {{ errorMsg }}</span>
              </div>
            </div>

            <!--TABLA DE GRUPO DE CONOCIMIENTOS-->

            <div
              class="container__content__table mt-20 mb-20"
              *ngIf="knowledgeGroups.length > 0"
            >
              <table
                mat-table
                [dataSource]="knowledgeGroups"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef>Habilidades</th>
                  <td mat-cell *matCellDef="let knowledgeGroup">
                    {{ knowledgeGroup.nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let knowledgeGroup">
                    <mat-icon
                      class="link-pointer"
                      (click)="onDeleteKnowledgeGroupClick(knowledgeGroup)"
                      >delete</mat-icon
                    >
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedSkillsColumns"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedSkillsColumns"
                ></tr>
              </table>
            </div>

            <div
              class="container__content__no-table"
              *ngIf="chargeSkillsCompleted && personalSkills.length === 0"
            >
              Aún no tienes ningún grupo de conocimientos creado.
            </div>
          </form>
          <!--FORMULARIO DE CONOCIMIENTOS-->
          <div class="mt-10"  *ngIf="knowledgeGroups.length > 0">
            <h2>Añadir conocimientos</h2>
            <form
              [formGroup]="formKnowledgeGroup"
              (ngSubmit)="onSubmitKnowledge()"
              *ngIf="knowledgeToAdd"
            >
              <div class="container__content__form">
                <div class="container__content__form__row">
                  <div class="container__content__form__row__col">
                    <mat-form-field appearance="fill">
                      <mat-label>Grupo</mat-label>
                      <mat-select formControlName="idHabilidad">
                        <mat-option
                          *ngFor="let knowledgeGroup of knowledgeGroups"
                          [value]="knowledgeGroup.idHabilidad"
                        >
                          {{ knowledgeGroup.nombre }}
                        </mat-option>
                      </mat-select>
                      <mat-error
                        *ngIf="
                          formKnowledgeGroup.controls['idHabilidad'].hasError(
                            'required'
                          )
                        "
                        >Campo obligatorio.</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>
                <div class="container__content__form__row">
                  <div class="container__content__form__row__col">
                    <mat-form-field appearance="fill">
                      <mat-label>Conocimiento</mat-label>
                      <input
                        matInput
                        placeholder="Descripción del conocimiento"
                        formControlName="nombre"
                      />
                      <mat-error
                        *ngIf="
                          formKnowledgeGroup.controls['nombre'].hasError(
                            'required'
                          )
                        "
                        >Campo obligatorio.</mat-error
                      >
                      <mat-error
                        *ngIf="
                          formKnowledgeGroup.controls['nombre'].hasError(
                            'maxlength'
                          )
                        "
                        >Longitud máxima:
                        {{ lengthForm.knowledgeNombre }} caracteres.</mat-error
                      >
                    </mat-form-field>
                  </div>
                  <div class="container__content__form__row__col">
                    <mat-form-field appearance="fill">
                      <mat-label>Nivel</mat-label>
                      <input
                        type="number"
                        matInput
                        placeholder="Nivel"
                        formControlName="nivel"
                        (focus)="nameFocusField = 'nivel'"
                        (blur)="nameFocusField = ''"
                      />
                      <span class="info-input" *ngIf="nameFocusField == 'nivel'"
                        >Introduce un número comprendido del 1 al 10 para
                        asignar un nivel a esta habilidad.</span
                      >
                      <mat-error
                        *ngIf="
                          formKnowledgeGroup.controls['nivel'].hasError(
                            'min'
                          ) ||
                          formKnowledgeGroup.controls['nivel'].hasError('max')
                        "
                        >Valores entre 0 y 10</mat-error
                      >
                    </mat-form-field>
                  </div>
                </div>

                <div class="container__content__form__row">
                  <div class="container__content__form__row__col">
                    <div class="container__content__form__actions">
                      <div>
                        <mat-dialog-actions
                          class="container__content__form__actions__button"
                        >
                          <button
                            mat-raised-button
                            color="primary"
                            [disabled]="formKnowledgeGroup.invalid || spinnerOn"
                          >
                            Añadir
                          </button>
                        </mat-dialog-actions>
                      </div>
                      <div>
                        <mat-dialog-actions
                          class="container__content__form__actions__button"
                        >
                          <button
                            type="button"
                            mat-raised-button
                            color="primary"
                            (click)="resetKnowledgeForm()"
                          >
                            Resetear
                          </button>
                        </mat-dialog-actions>
                      </div>
                      <div class="spinner" *ngIf="spinnerOn"></div>
                    </div>

                    <span> {{ errorMsg }}</span>
                  </div>
                </div>
              </div>
            </form>

            <!-- TABLA DE CONOCIMIENTOS PARA PANTALLAS GRANDES -->

            <div
              class="container__content__table mt-20"
              *ngIf="!isSmallScreen && knowledges.length > 0"
            >
              <table
                mat-table
                [dataSource]="knowledges"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef>Conocimiento</th>
                  <td mat-cell *matCellDef="let knowledge">
                    {{ knowledge.nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="nivel">
                  <th mat-header-cell *matHeaderCellDef>Nivel</th>
                  <td mat-cell *matCellDef="let knowledge">
                    {{ knowledge.nivel }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="habilidad">
                  <th mat-header-cell *matHeaderCellDef>Grupo</th>
                  <td mat-cell *matCellDef="let knowledge">
                    {{ knowledge.habilidad[0].nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let knowledge">
                    <mat-icon
                      class="link-pointer"
                      (click)="onDeleteKnowledgeClick(knowledge)"
                      >delete</mat-icon
                    >
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedKnowledgeColumns"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedKnowledgeColumns"
                ></tr>
              </table>
            </div>

            <!-- TABLA DE CONOCIMIENTOS PARA PANTALLAS PEQUEÑAS-->

            <div
              class="container__content__table mt-20"
              *ngIf="isSmallScreen && knowledges.length > 0"
            >
              <table
                mat-table
                [dataSource]="knowledges"
                class="mat-elevation-z8"
              >
                <ng-container matColumnDef="info">
                  <th mat-header-cell *matHeaderCellDef>Info</th>
                  <td mat-cell *matCellDef="let knowledge">
                    <div><span>Nombre </span></div>
                    <div class="mb-10">{{ knowledge.nombre }}</div>
                    <div><span>Nivel </span></div>
                    <div class="mb-10">{{ knowledge.nivel }}</div>
                    <div><span>Grupo </span></div>
                    <div>{{ knowledge.habilidad[0].nombre }}</div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let skill">
                    <div class="actions">
                      <mat-icon
                        class="link-pointer"
                        (click)="onDeleteKnowledgeClick(skill)"
                        >delete</mat-icon
                      >
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumnsSmallScreens"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumnsSmallScreens"
                ></tr>
              </table>
            </div>
            <div
              class="container__content__no-table"
              *ngIf="chargeKnowledgesCompleted && knowledges.length === 0"
            >
              Aún no tienes ningún conocimiento.
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
