.photo {
  position: relative;
  margin-left: -10%;
  border-radius: 50%;
  width: 120%;
  height: auto;
  padding-top: 117%;
  background-image: url(../../../../assets/image-curr.jpg);
  background-size: 100%;
  background-position: center center;
  border: 3px solid #009688;
  box-shadow: 0 0 5px #0f423d;
}

.burger-button-menu{
  display: none;
}

.container-left {
  position: absolute;
  top: 0;
  left: 2%;
  bottom: auto;
  min-height: 100vh;
  margin-left: 20px;
  background-color: #009688;
  padding: 10px 20px;
  width: 15%;
  color: white;

}

.container-left hr {
  background-color: white;
  width: 90%;
  height: 1px;
  margin-bottom: 10px;
  border: none;
  
}

.container-left h1 {
  font-size: 1.5em;
  margin: 10px 0 0 0;
}

.container-left h2 {
  font-size: 1.25em;
  margin: 10px 0 0 0;
}

.container-left li:before {
  content: "» ";
  line-height: 20px;
}

.header {
  display: flex;
  width: auto;
  flex-flow: row nowrap;
  align-items: flex-start;
  /*justify-content: center;*/
  padding: 20px;
  background-color: rgb(211, 210, 210);
}

.header .header-content .photo {
  display: none;
}

.header .header-content {
  display: flex;
  flex-flow: column nowrap;
  display: flex;
  width: 100%;
  height: 100%;
  max-width:1024px
}

.header .header-content h1 {
  font: 200 3em "roboto";
  width: 100%;
  
}

.header .header-content .h2-with-line {
  width: 95%;
  display: flex;
  flex-flow: row nowrap;
}

.header .header-content h2 {
  width: 45%;
  font: 200 2em "roboto";
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header .header-content hr {
  width: 100%;
  margin-left: 10px;
  align-self: center;
  height: 3px;
  border: none;
  background-color: #009688;
}

header .header-content .menu {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 0;
  background-color: #009688;
  border-radius: 10px;
  color: white;
  justify-content: space-around;
}

header .menu a {
  align-items: stretch;
  width: 100%;
  margin: 0 2px;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

header .header-content .menu .button-text {
  display: block;
  width: 100%;
  white-space: nowrap;
}

header .header-content .menu a:hover {
  background-color: #0f423d;
}
header .header-content .menu span::first-letter {
  text-transform: uppercase;
}

@media all and (min-width: 300px) and (max-width: 850px) {

  .photo {
    align-self: center;
    margin-left: 0;
    margin-right: 20px;
    border-radius: 50%;
    width: 15%;
    height: auto;
    padding-top: 15%;
    background-image: url(../../../../assets/image-curr.jpg);
    background-size: 105%;
    background-position: center center;
    border: 3px solid #26a69a;
    box-shadow: 0 0 5px #0f423d;
  }

  .container-left {
    display: none;
  }
  .container-left .photo {
    display: none;
  }

  .header .ghost-space {
    display: none;
  }

  .header .header-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
  }

  .header .header-content .photo {
    display: flex;
  }

  .header .header-content h1 {
    width: 100%;
    font-size: 3em;
  }

  .header .header-content .h2-with-line {
    width: 100%;
  }

  .header .header-content h2 {
    width: 100%;
  }

  .header .header-content hr {
    display: none;
  }
}

@media all and (min-width: 0px) and (max-width: 599px) {
  
  .container-left {
    display: none;
  }
  .container-left .photo {
    display: none;
  }

  .burger-button-menu{
    background-color: #009688;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    
  }

  .burger-button-menu i{
    
    color: white;
    margin: 0;
  }

  .burger-button-menu:hover{
    background-color: #0f423d;
  }
  .photo {
  
    width: 25%;
    padding-top: 25%;
 
  }

  .header .header-content {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
  }

  .header .header-content h1 {
    text-align: center;
  }

  .header .header-content h2 {
    text-align: center;
  }
  header .header-content .menu  {
    display: flex;
    flex-flow: column nowrap;
    font-size: 1.5em;
  }

  header .header-content .menu-hidden{
    display: none;
  
  }

  header .header-content .menu a {
    width: auto
  }
  
  header .header-content .menu a:hover {
    background-color: #0f423d;
    width: auto
  }
  
  
}

@media ALL and (min-width: 1450px) {

  .container-left {
  left: 5%
  }  

}



