<header class="header">
  <div class="ghost-space"></div>
  <div class="header__header-content" *ngIf="curriculum && user">
    <div class="header__header-content__personal-data">
      <div
        class="header__header-content__personal-data__photo "
        [ngStyle]="{'border': '3px solid' + gamaColores.darkColor, 'box-shadow': '0 0 5px' + gamaColores.darkColor}"
        [style.background]="curriculum.foto != '' ? '#FFFFFF url(' +apiUrl + curriculum.foto + ')' : '#FFFFFF url(../../../../assets/no-data-image.png)' "


      ></div>
      <div class="burger-button-menu" [ngStyle]="{'background-color': gamaColores.mainColor }" (click)="activarMenu('')">
        <mat-icon>menu</mat-icon>
      </div>
      <div class="header__header-content__personal-data__info">
        <h1 class="header__header-content__personal-data__info__name">
          {{ user.nombre }} {{ user.apellidos }}
        </h1>
        <span
          class="header__header-content__personal-data__info__profession-with-line"
        >
          <h2 class="header__header-content__personal-data__info__profession">
            {{ curriculum.profesion }}
          </h2>
          <hr class="header__header-content__separator" [ngStyle]="{'background-color': gamaColores.mainColor }" />
        </span>
      </div>
    </div>

    <nav
      class="header__header-content__menu"
      [ngStyle]="{'background-color': gamaColores.mainColor }"
      *ngIf="menuActivado || !isBurguerMenu"
    >
      <a
        class="header__header-content__menu__link "
        [style.backgroundColor]=" activeMenuItem === 'aboutme' ? gamaColores.darkColor : '' "
        *ngIf="isSmallScreen"
        routerLink="aboutme"
        (click)="activarMenu('aboutme')"
        ><span
          ><mat-icon>perm_identity</mat-icon
          ><span
            class="header__header-content__menu__link__button-text first-letter-uppercase"
            >acerca de</span
          ></span
        ></a
      >
      <a
        class="header__header-content__menu__link"
        [style.backgroundColor]=" activeMenuItem === 'skills' ? gamaColores.darkColor : '' "
        routerLink="skills"
        (click)="activarMenu('skills')"
        ><span
          ><mat-icon>settings</mat-icon
          ><span class="header__header-content__menu__link__button-text"
            >habilidades</span
          ></span
        ></a
      >
      <a
        class="header__header-content__menu__link"
        [style.backgroundColor]=" activeMenuItem === 'experience' ? gamaColores.darkColor : '' "
        routerLink="experience"
        (click)="activarMenu('experience')"
        ><span
          ><mat-icon>work</mat-icon
          ><span class="header__header-content__menu__link__button-text"
            >experiencia</span
          ></span
        ></a
      >
      <a
        class="header__header-content__menu__link"

        [style.backgroundColor]=" activeMenuItem === 'education' ? gamaColores.darkColor : '' "
        routerLink="education"
        (click)="activarMenu('education')"
        ><span
          ><mat-icon>menu_book</mat-icon
          ><span class="header__header-content__menu__link__button-text"
            >formación</span
          ></span
        ></a
      >
      <a
        class="header__header-content__menu__link"
        (click)="openContactDialog()"
        ><span
          ><mat-icon>3p</mat-icon
          ><span class="header__header-content__menu__link__button-text"
            >contacto</span
          ></span
        ></a
      >
    </nav>
  </div>
</header>
<div class="container-left" [ngStyle]="{'background-color': gamaColores.mainColor }" *ngIf="curriculum && user">
  <div
    class="photo"
    [ngStyle]="{'border': '3px solid' + gamaColores.darkColor, 'box-shadow': '0 0 5px' + gamaColores.darkColor}"
    [style.background]="curriculum.foto != '' ? '#FFFFFF url(' +apiUrl + curriculum.foto + ')' : '#FFFFFF url(../../../../assets/no-data-image.png)' "
  ></div>
  <section class="column-left" *ngIf="curriculum">
    <article class="aboutme" *ngIf="user.acercaDe != ''">
      <header>
        <h1 class="title">
          <i class="tiny material-icons">perm_identity</i>Acerca de
        </h1>
        <hr class="container-left__separator" />
      </header>
      <p>{{ user.acercaDe }}</p>
    </article>

    <article class="otherskills" *ngIf="curriculum.habilidadesUnicas && curriculum.habilidadesUnicas.length > 0">
      <header>
        <h1 class="container-left__title">Habilidades Esp.</h1>
        <hr class="container-left__separator" />
      </header>
      <ul>
        <li *ngFor="let habilidad of curriculum.habilidadesUnicas">
          {{ habilidad.nombre }}
        </li>
      </ul>
    </article>

    <article class="otherskills" *ngIf="curriculum.web">
      <header>
        <h1 class="container-left__title">Web</h1>
        <hr class="container-left__separator"  />
      </header>
      <ul>
        <li><a [href]="curriculum.web">Visita mi web</a></li>
      </ul>
    </article>

    <article class="languages" *ngIf="curriculum.idiomas && curriculum.idiomas.length > 0">
      <header>
        <h1 class="container-left__title">Idiomas</h1>
        <hr class="container-left__separator" />
      </header>
      <ul>
        <li *ngFor="let idioma of curriculum.idiomas">
          {{ idioma.idioma }}, nivel: {{ idioma.nivel }}
        </li>
      </ul>
    </article>

    <article class="skills" *ngIf="skills.length > 0">
      <header>
        <h1 class="container-left__title">Habilidades</h1>
        <hr class="container-left__separator">
      </header>
      <ul>
        <li *ngFor="let skill of skills">
          {{ skill.nombre }}
        </li>
      </ul>
    </article>

    <article class="interestings" *ngIf="curriculum.datosInteres && curriculum.datosInteres.length >0">
      <header>
        <h1 class="container-left__title">Datos de interés</h1>
        <hr class="container-left__separator"/>
      </header>
      <ul>
        <li *ngFor="let datoInteres of curriculum.datosInteres">
          {{ datoInteres.descripcion }}
        </li>
      </ul>
    </article>
  </section>
</div>
