<div class="container">
  <div class="container__content">
    <header>
      <h1>Login</h1>
    </header>
    <form [formGroup]="formLoginGroup" (ngSubmit)="onSubmit()">
      <div class="container__content__form">
        <div class="container__content__form__row">
          <div class="container__content__form__row__col">
            <mat-form-field appearance="fill">
              <mat-label>E-mail</mat-label>
              <input matInput placeholder="E-Mail" formControlName="email" />
              <mat-error
                *ngIf="formLoginGroup.controls['email'].hasError('required')"
                >Campo obligatorio.</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="container__content__form__row">
          <div class="container__content__form__row__col">
            <mat-form-field appearance="fill">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                type="password"
                placeholder="Contraseña"
                formControlName="password"
              />
              <mat-error
                *ngIf="formLoginGroup.controls['password'].hasError('required')"
                >Campo obligatorio.</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="container__content__form__actions">
          <div>
            <mat-dialog-actions class="container__content__form__actions__button">
              <button
              mat-raised-button
              color="primary"
              [disabled]="formLoginGroup.invalid || spinnerOn"
            >
              Login
            </button>
            </mat-dialog-actions>
          </div>
          <div class='spinner' *ngIf="spinnerOn"></div>
          <span> {{ errorMsg }}</span>
        </div>
      </div>
    </form>
    <div class="forgotten mt-20"><span class="forgotten__link" (click)="onForgottenPasswordClick()">He olvidado mi contraseña.</span></div>
  </div>
</div>
