<div class="container">
  <div class="container__content">
    <header>
      <h1>Información general</h1>
    </header>
    <div class="curriculum-link">
      <div class="curriculum-link__item" (click)="goToCurriculum()">
        <mat-icon class="mr-10">remove_red_eye</mat-icon>Ver currículum
      </div>
    </div>
    <div>
      <h2>Datos personales</h2>
      <form
        [formGroup]="formUserGroup"
        (ngSubmit)="onPersonalDataSubmit()"
        *ngIf="chargeForm"
      >
        <!-- CAMPOS NOMBRE Y APELLIDOS -->
        <div class="container__content__form">
          <div class="container__content__form__row">
            <div class="container__content__form__row__col input-small">
              <mat-form-field appearance="fill">
                <mat-label>*Nombre</mat-label>
                <input matInput placeholder="nombre" formControlName="nombre"  />
                <mat-error
                  *ngIf="formUserGroup.controls['nombre'].hasError('required')"
                  >Campo obligatorio.</mat-error
                >
                <mat-error
                  *ngIf="formUserGroup.controls['nombre'].hasError('maxlength')"
                  >Número máximo de caracteres:
                  {{ lengthForm.nombre }}</mat-error
                >
              </mat-form-field>
            </div>
            <div class="container__content__form__row__col input-large">
              <mat-form-field appearance="fill">
                <mat-label>*Apellidos</mat-label>
                <input
                  matInput
                  placeholder="Apellidos"
                  formControlName="apellidos"
                />
                <mat-error
                  *ngIf="
                    formUserGroup.controls['apellidos'].hasError('required')
                  "
                  >Campo obligatorio.</mat-error
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['apellidos'].hasError('maxlength')
                  "
                  >Número máximo de caracteres:
                  {{ lengthForm.apellidos }}</mat-error
                >
              </mat-form-field>
            </div>
            <div class="container__content__form__row__col input-small">
              <mat-form-field appearance="fill">
                <mat-label>Fecha de nacimiento</mat-label>
                <input
                  type="date"
                  matInput
                  placeholder="Fecha de nacimiento"
                  formControlName="fechaNacimiento"
                  (focus)="nameFocusField = 'fechaNacimiento'"
                  (blur)="nameFocusField = ''"
                />
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'fechaNacimiento'"
                  >La fecha de nacimiento no es obligatoria, pero si la pones, no saldrá en tu currículum.</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['fechaNacimiento'].hasError(
                      'required'
                    )
                  "
                  >Campo obligatorio.</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <!-- CAMPO DIRECCIÓN Y LOCALIDAD -->
          <div class="container__content__form__row">
            <div class="container__content__form__row__col input-large">
              <mat-form-field appearance="fill">
                <mat-label>Dirección</mat-label>
                <input
                  matInput
                  placeholder="direccion"
                  formControlName="direccion"
                  (focus)="nameFocusField = 'direccion'"
                  (blur)="nameFocusField = ''"
                />
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'direccion'"
                  >La dirección no es obligatoria, pero si la pones, no saldrá en tu currículum.</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['direccion'].hasError('required')
                  "
                  >Campo obligatorio.</mat-error
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['direccion'].hasError('maxlength')
                  "
                  >Máximo: {{ lengthForm.direccion }} caracteres
                </mat-error>
              </mat-form-field>
            </div>
            <div class="container__content__form__row__col input-small">
              <mat-form-field appearance="fill">
                <mat-label>Localidad</mat-label>
                <input
                  matInput
                  placeholder="localidad"
                  formControlName="localidad"
                  (focus)="nameFocusField = 'localidad'"
                  (blur)="nameFocusField = ''"
                />
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'localidad'"
                  >La localidad saldrá publicada en tu currículum.</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['localidad'].hasError('required')
                  "
                  >Campo obligatorio.</mat-error
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['localidad'].hasError('maxlength')
                  "
                  >Máximo: {{ lengthForm.localidad }} caracteres
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- CAMPOS CÓDIGO POSTAL Y PROVINCIA -->

          <div class="container__content__form__row">
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>*Código postal</mat-label>
                <input
                  matInput
                  placeholder="Código postal"
                  formControlName="cp"
                  [postalcode]="provinces"
                  (input)="onCpPressKey($event)"
                />
                <mat-error
                  *ngIf="formUserGroup.controls['cp'].hasError('required')"
                  >Campo obligatorio.</mat-error
                >
                <mat-error
                  *ngIf="formUserGroup.controls['cp'].hasError('maxlength')"
                  >Número máximo de caracteres: {{ lengthForm.cp }}</mat-error
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['cp'].hasError('wrongPostalCode')
                  "
                  >Código postal inválido.</mat-error
                >
              </mat-form-field>
            </div>
            <div class="container__content__form__row__col">
              <mat-form-field appearance="outline">
                <mat-label>Provincia</mat-label>
                <input
                  matInput
                  placeholder="Provincia"
                  formControlName="provincia"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>

          <!-- CAMPOS TELÉFONOS -->

          <div class="container__content__form__row">
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>Teléfono 1</mat-label>
                <input
                  matInput
                  placeholder="telefono1"
                  formControlName="telefono1"
                  (focus)="nameFocusField = 'telefono1'"
                  (blur)="nameFocusField = ''"
                />
                <mat-icon matSuffix>phone</mat-icon>
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'telefono1'"
                  >El teléfono saldrá en tu currículum. Déjalo vacío si no quieres que se publique.</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['telefono1'].hasError('pattern')
                  "
                  >Nº de teléfono incorrecto.</mat-error
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['telefono1'].hasError('maxlength')
                  "
                  >Número máximo de caracteres:
                  {{ lengthForm.telefonos }}</mat-error
                >
              </mat-form-field>
            </div>
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>Teléfono 2</mat-label>
                <input
                  matInput
                  placeholder="Teléfono 2"
                  formControlName="telefono2"
                  (focus)="nameFocusField = 'telefono2'"
                  (blur)="nameFocusField = ''"
                />
                <mat-icon matSuffix>phone_android</mat-icon>
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'telefono2'"
                  >El teléfono saldrá en tu currículum. Déjalo vacío si no quieres que se publique.</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['telefono2'].hasError('pattern')
                  "
                  >Nº de teléfono incorrecto.</mat-error
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['telefono2'].hasError('maxlength')
                  "
                  >Número máximo de caracteres:
                  {{ lengthForm.telefonos }}</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <!-- CAMPOS REDES SOCIALES -->

          <div class="container__content__form__row">
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>Facebook</mat-label>
                <input
                  matInput
                  placeholder="facebook"
                  formControlName="facebook"
                  (focus)="nameFocusField = 'facebook'"
                  (blur)="nameFocusField = ''"
                />
                <i matSuffix class="fab fa-facebook fa-lg" ></i>
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'facebook'"
                  >Se publicará un enlace a tu Facebook, déjalo vacío si no quieres que se publique. Ej.: de www.facebook.com/juan inserta solo juan</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['facebook'].hasError('maxlength')
                  "
                  >Número máximo de caracteres:
                  {{ lengthForm.facebook }}</mat-error
                >
              </mat-form-field>
            </div>
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>Twitter</mat-label>
                <input
                  matInput
                  placeholder="twitter"
                  formControlName="twitter"
                  (focus)="nameFocusField = 'twitter'"
                  (blur)="nameFocusField = ''"
                />
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'twitter'"
                  >Se publicará un enlace a tu Twitter, déjalo vacío si no quieres que se publique. Ej.: de www.twitter.com/juan inserta solo @juan</span
                >
                <i matSuffix class="fab fa-twitter fa-lg" ></i>
                <mat-error
                  *ngIf="formUserGroup.controls['twitter'].hasError('pattern')"
                  >Twitter inválido.</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="container__content__form__row">
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>Linkedin</mat-label>
                <input
                  matInput
                  placeholder="linkedin"
                  formControlName="linkedin"
                  (focus)="nameFocusField = 'linkedin'"
                  (blur)="nameFocusField = ''"
                />
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'linkedin'"
                  >Se publicará un enlace a tu LinkedIn, déjalo vacío si no quieres que se publique. Ej.: de www.linkedin.com/juan inserta solo juan</span
                >
                <i matSuffix class="fab fa-linkedin fa-lg" ></i>
                <mat-error
                  *ngIf="
                    formUserGroup.controls['linkedin'].hasError('maxlength')
                  "
                  >Número máximo de caracteres:
                  {{ lengthForm.linkedin }}</mat-error
                >
              </mat-form-field>
            </div>
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>Instagram</mat-label>
                <input
                  matInput
                  placeholder="instagram"
                  formControlName="instagram"
                  (focus)="nameFocusField = 'instagram'"
                  (blur)="nameFocusField = ''"
                />
                <i matSuffix class="fab fa-instagram fa-lg" ></i>
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'instagram'"
                  >Se publicará un enlace a tu Instragram, déjalo vacío si no quieres que se publique. Ej.: de www.facebook.com/juan inserta solo juan</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['instagram'].hasError('maxlength')
                  "
                  >Número máximo de caracteres:
                  {{ lengthForm.instagram }}</mat-error
                >
              </mat-form-field>
            </div>
          </div>
          <div class="container__content__form__row">
            <div class="container__content__form__row__col">
              <mat-form-field appearance="fill">
                <mat-label>Acerca de</mat-label>
                <textarea
                  placeholder="Habla un poco sobre ti en tu currículum..."
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="8"
                  matInput
                  formControlName="acercaDe"
                  (focus)="nameFocusField = 'acercaDe'"
                  (blur)="nameFocusField = ''"
                ></textarea>
                <span
                  class="info-input"
                  *ngIf="nameFocusField == 'acercaDe'"
                  >Habla un poco sobre ti. Saldrá publicado en tu currículum.</span
                >
                <mat-error
                  *ngIf="
                    formUserGroup.controls['acercaDe'].hasError('maxlength')
                  "
                  >Máximo de caracteres: 500.</mat-error
                >
              </mat-form-field>
            </div>
          </div>

          <div class="container__content__form__actions">
            <div>
              <mat-dialog-actions
                class="container__content__form__actions__button"
              >
                <button
                  mat-raised-button
                  color="primary"
                  [disabled]="formUserGroup.invalid || spinnerOn"
                >
                  Guardar
                </button>
              </mat-dialog-actions>
            </div>
            <div class="spinner" *ngIf="spinnerOn"></div>
            <span> {{ errorMsg }}</span>
          </div>

        </div>

      </form>

    </div>
    <div class="change-password mt-20"><span class="change-password__link" (click)="onChangePasswordClick()">Cambiar contraseña.</span></div>
  </div>
</div>
