<div>
  <header>
    <h1>Contacto</h1>
  </header>
  <form [formGroup]="formContactGroup">
    <div class="form">
      <div
        class="form__contact"
        [ngStyle]="{ 'background-color': gamaColores.mainColor }"
      >
        <div class="form__contact__items">
          <a class="form__contact__items__item" [href]="'https://www.linkedin.com/in/'+data.user.linkedin" *ngIf="data.user.linkedin!=''">
            <div>
              <i class="fab fa-linkedin fa-lg" ></i
              >Mi Linkedin
            </div>
          </a>
          <a class="form__contact__items__item" [href]="'https://www.facebook.com/'+data.user.facebook" *ngIf="data.user.facebook!=''">
            <div>
              <i class="fab fa-facebook fa-lg" ></i
              >Mi facebook
            </div>
          </a>
          <a class="form__contact__items__item" [href]="'https://instagram.com/'+data.user.instagram" *ngIf="data.user.instagram!=''">
            <div>
              <i class="fab fa-instagram fa-lg" ></i
              >{{data.user.instagram}}
            </div>
          </a>
          <a class="form__contact__items__item" [href]="'https://twitter.com/'+data.user.twitter" *ngIf="data.user.twitter!=''">
            <div>
              <i class="fab fa-twitter fa-lg"></i
              >Mi Twitter: {{ data.user.twitter }}
            </div>
          </a>

          <a class="form__contact__items__item" [href]="'tel:' + data.user.telefono1" *ngIf="data.user.telefono1!=''"
            ><div>
              <i class="fa fa-phone fa-lg" ></i>Mi
              teléfono {{ data.user.telefono1 }}
            </div>
          </a>

          <a class="form__contact__items__item" [href]="'tel:' + data.user.telefono2" *ngIf="data.user.telefono2!=''"
            ><div>
              <i class="fa fa-phone fa-lg" ></i>Mi
              móvil {{ data.user.telefono2 }}
            </div>
          </a>
        </div>
        <div class="form__contact__separator"></div>
        <div class="form__contact__home">
          <i
            class="fa fa-home fa-lg"
          ></i
          >Vivo en {{ data.user.localidad + ". "+ province }}
        </div>
      </div>

      <div class="form__row">
        <div class="form__row__col">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombre" />
            <mat-error
              *ngIf="formContactGroup.controls['nombre'].hasError('required')"
              >Campo obligatorio.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form__row__col">
          <mat-form-field appearance="fill">
            <mat-label>Apellidos</mat-label>
            <input
              matInput
              placeholder="Apellidos"
              formControlName="apellidos"
            />
            <mat-error
              *ngIf="
                formContactGroup.controls['apellidos'].hasError('required')
              "
              >Campo obligatorio.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="form__row">
        <div class="form__row__col">
          <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input
              type="email"
              matInput
              placeholder="E-mail"
              formControlName="email"
            />
            <mat-icon matSuffix>mail</mat-icon>
            <mat-error
              *ngIf="formContactGroup.controls['email'].hasError('email')"
              >Formato de e-mail incorrecto.</mat-error
            >
            <mat-error
              *ngIf="formContactGroup.controls['email'].hasError('required')"
              >Campo obligatorio.</mat-error
            >
          </mat-form-field>
        </div>
        <div class="form__row__col">
          <mat-form-field appearance="fill">
            <mat-label>Teléfono</mat-label>
            <input
              type="tel"
              matInput
              placeholder="Teléfono"
              formControlName="telefono"
            />
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error
              *ngIf="formContactGroup.controls['telefono'].hasError('pattern')"
              >formato de teléfono incorrecto.</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="form__row">
        <div class="form__row__col">
          <mat-form-field appearance="fill">
            <mat-label>Asunto</mat-label>
            <mat-select formControlName="asunto">
              <mat-option
                *ngFor="let asunto of asuntoContacto"
                value="{{ asunto }}"
                >{{ asunto }}</mat-option
              >
            </mat-select>
            <mat-error
              *ngIf="formContactGroup.controls['asunto'].hasError('required')"
              >Campo obligatorio.</mat-error
            >
          </mat-form-field>
        </div>
      </div>

      <div class="form__row">
        <div class="form__row__col">
          <mat-form-field appearance="fill">
            <mat-label>Mensaje</mat-label>
            <textarea
              matInput
              placeholder="Mensaje"
              rows="10"
              cols="150"
              formControlName="mensaje"
            ></textarea>
            <mat-error
              *ngIf="formContactGroup.controls['mensaje'].hasError('required')"
              >Campo obligatorio.</mat-error
            >
          </mat-form-field>
        </div>
      </div>
      <div class="form__row">
        <div class="form__row__col">
          <mat-dialog-actions>
            <div class="form__row__col__buttons">
              <generic-button
                [textButton]="'Enviar'"
                [mainColor]="gamaColores.mainColor"
                [darkColor]="gamaColores.darkColor"
                [width]="'100px'"
                [disabled]="formContactGroup.invalid || spinnerOn"
                (click)="formContactGroup.invalid || spinnerOn ? null : onSubmit()"
              ></generic-button>
              <generic-button
                [textButton]="'Cancelar'"
                mat-dialog-close
                [mainColor]="'red'"
                [darkColor]="'brown'"
                [width]="'100px'"
              ></generic-button>
              <div class="spinner" *ngIf="spinnerOn"></div>
            </div>
          </mat-dialog-actions>
        </div>
      </div>
    </div>
  </form>
</div>
